settings:
  title: 'Lxiange Status Page'
  url: 'https://status-page.eidam.dev' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations
  followRedirect: true

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: lxiange-com
    name: lxiange.com
    url: 'https://lxiange.com'
    method: GET
    expectStatus: 200
    linkable: true # allows the title to be a link, default=true

  - id: speedtest-nas
    name: The Speedtest Server (1G max)
    url: 'http://home.lxiange.com:3000/'
    method: GET
    expectStatus: 200

  - id: subscription
    name: Subscription of the clash
    url: 'https://subscription.lxiange.com/?token=beijing-clash'
    method: GET
    expectStatus: 200
